# Ignore Python cache files
__pycache__/

# Ignore environment variables file
.env

# Ignore compiled Python files
*.pyc

# Ignore IDE specific files and directories
.vscode/
.idea/

# Ignore any virtual environment directories
venv/
env/
